# Note: Put user.{name,email} in `$HOME/.config/git/config`.
[pull]
ff = only

[core]
excludesfile = ~/.git_global_exclude
editor = vim
# pager = delta

[init]
defaultBranch = main

[merge]
conflictstyle = diff3

[color]
ui = true

[diff]
wsErrorHighlight = all
colorMoved = default

[color "diff"]
whitespace = red reverse

[branch]
# Disable automatic tracking for e.g `git checkout -b foo origin/main`.
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-branchautoSetupMerge
autosetupmerge = false
# Make tracking default to rebase instead of merge.
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-branchautoSetupRebase
autosetuprebase = always

[branch "master"]
mergeoptions = --ff-only

[branch "dev"]
mergeoptions = --ff-only

[branch "main"]
mergeoptions = --ff-only

[rerere]
enabled = true
autoupdate = true

[rebase]
autostash = true
autosquash = true
# Always keep merge trains in sync.
updateRefs = true

[fetch]
prune = true

[alias]
squash = rebase --autosquash --autostash -i
please = push --atomic --force-with-lease

[advice]
addIgnoredFile = false

[commit]
cleanup = scissors

[help]
autoCorrect = prompt

# [interactive]
# diffFilter = delta --color-only

# [delta]
# navigate = true  # use n and N to move between diff sections
