[user]
name = Anton Agestam
email = git@antonagestam.se

[pull]
ff = only

[core]
excludesfile = ~/.git_global_exclude

[init]
defaultBranch = main

[color]
ui = true

[diff]
wsErrorHighlight = all

[color "diff"]
whitespace = red reverse

[branch "master"]
mergeoptions = --ff-only

[branch "dev"]
mergeoptions = --ff-only

[branch "main"]
mergeoptions = --ff-only

[rerere]
enabled = true
autoupdate = true

[rebase]
autostash = true
autosquash = true

[alias]
squash = rebase --autosquash --autostash -i

[advice]
addIgnoredFile = false

[commit]
cleanup = scissors

[help]
autoCorrect = prompt
