[user]
name = Anton Agestam
email = git@antonagestam.se

[pull]
ff = only

[core]
excludesfile = ~/.git_global_exclude
pager = delta

[init]
defaultBranch = main

# [merge]
# conflictstyle = diff3

[color]
ui = true

[diff]
wsErrorHighlight = all
colorMoved = default

[color "diff"]
whitespace = red reverse

[branch "master"]
mergeoptions = --ff-only

[branch "dev"]
mergeoptions = --ff-only

[branch "main"]
mergeoptions = --ff-only

[rerere]
enabled = true
autoupdate = true

[rebase]
autostash = true
autosquash = true

[alias]
squash = rebase --autosquash --autostash -i

[advice]
addIgnoredFile = false

[commit]
cleanup = scissors

[help]
autoCorrect = prompt

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true  # use n and N to move between diff sections
